<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Reusable HTML components with TwigJS</title>
  <link rel="stylesheet" href="./style.css"/>
</head>

<body class="mw8 mv4-ns center sans-serif bg-near-white">

  {% include "components/cardsList.twig" %}

</body>
</html>
